---
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;

const pageTitle = title === "" ? "Sqot0" : `${title} | Sqot0`;

const description = "Hi, I'm Sqot0. This is my personal website. I'm a full-stack developer with a passion for building web applications and bots";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<title>{pageTitle}</title>

		<meta name="title" content={pageTitle} />
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:title" content={pageTitle} />
		<meta property="og:description" content={description} />

		<meta property="twitter:url" content={canonicalURL} />
		<meta property="twitter:title" content={pageTitle} />
		<meta property="twitter:description" content={description} />

		<ClientRouter />

		<meta name="google-site-verification" content={import.meta.env.GOOGLE_SITE_VERIFICATION || Astro.locals.runtime.env.GOOGLE_SITE_VERIFICATION} />
	</head>
	<body
		class={`w-screen min-h-screen scroll-smooth bg-[url('/bg.webp')] bg-cover bg-center bg-no-repeat flex items-center justify-center py-5`}
	>
		<slot />

		<nav
			transition:persist
			class="fixed bottom-2 left-1/2 -translate-x-1/2 py-2 bg-[rgba(20,20,23,0.44)] backdrop-blur-lg rounded-full"
		>
			<nav class="h-full flex items-center justify-center gap-4 px-4">
				<a
					href="/"
					class="flex flex-col items-center text-white/80 hover:text-white hover:scale-105 transition"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-6 w-6"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
						></path>
					</svg>
					<span class="sr-only">Home</span>
				</a>
				<a
					href="/projects"
					class="flex flex-col items-center text-white/80 hover:text-white hover:scale-105 transition"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-6 w-6"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
						></path>
					</svg>
					<span class="sr-only">Projects</span>
				</a>
				<a
					href="/contact"
					class="flex flex-col items-center text-white/80 hover:text-white hover:scale-105 transition"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-6 w-6"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
						></path>
					</svg>
					<span class="sr-only">Contact</span>
				</a>
			</nav>
		</nav>
	</body>
</html>

<script is:inline>
	const isTouchDevice = () => "ontouchstart" in window || navigator.maxTouchPoints > 0;

	if (!isTouchDevice()) {
		let mouseY = 0.5;

		const updateBackgroundPosition = () => {
			document.body.style.backgroundPosition = `50% ${mouseY * 5}%`;
		};

		document.addEventListener("astro:page-load", () =>
			updateBackgroundPosition(),
		);
		document.addEventListener("mousemove", (e) => {
			mouseY = e.clientY / window.innerHeight;
			updateBackgroundPosition();
		});
	}
</script>